*.sdf
/*.x
/.vs/config/applicationhost.config
branch_type.txt
/.vs/projectcc/v15/Server/sqlite3/*.lock
/.vs/projectcc/v15/Server/sqlite3/*.ide
/.vs/projectcc/v15/Server/sqlite3/*.ide-shm
/.vs/projectcc/v15/Server/sqlite3/*.ide-wal
/ProjectSettings/ProjectVersion.txt
Cache/
Library
Temp
build/
/.vs
/*.csproj
/*.booproj
*.pidb
*.unityproj
/*.sln
*.userprefs
*.user
obj/*
*.suo
*.apk
Thumbs.db
Thumbs.db.meta
**/obj/Debug/
**/obj/Release/
**/bin/Debug/
**/bin/Release/
*.pyc
.metadata/
play.txt
replay.txt
~*
dps-*.csv